DEBUG=True

SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1

# Для локального теста закомить и запуститься с SQLite
DATABASE_URL=postgres://postgres:postgres@db:5432/blog_db

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

